#calculator{
    position: relative;
    margin: auto;
    height: 700px;
    width: 600px;
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 3px;
    border: 10px solid #450359;
}

.row{
    height: auto;
    width: auto;
}

#display{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 1/5;
    height: 100%;
    width: 100%;
    text-align: right;
    font-size: 4rem;
    background-color: pink;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 1px;
    border-radius: 5%;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    user-select: none;
}

#btn-0{
    grid-column: span 2;
}

.func-btn{
    background-color: #d9d9d9;
}